<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group row">
  
        <input class="form-control" [(ngModel)]="catservice.formData.CategoryId"  name ="CategoryId"
        #CategoryId="ngModel" type="hidden">
    
      <label for="example-text-input" class="col-md-2 col-form-label">Category Name *</label>
      <div class="col-md-10">
        <input class="form-control" type="text" #CategoryName="ngModel" [(ngModel)]="catservice.formData.CategoryName"name="CategoryName"  placeholder="Add Category" id="example-text-input">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>