<div class="container-fluid">
    <app-pagetitle title="Manage Products" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="card border-0">
                    <div class="card-body">
                        <div
                            class="row align-items-center"
                            
                        >
                            <div class="col align-content-start">
                                <h4 class="one">Existing Item(s)</h4>
                            </div>
                            <div class="col-auto">
                                <button (click)="addExpense()" class="btn btn-outline-success waves-effect pull-right waves-light">Add Product</button>
                            </div>
                        </div>
                    </div>
                
                </div>
                <!-- <h4 class="card-title">Basic Example</h4> -->
                <!-- <p class="card-title-desc">For basic styling—light padding and
                  only horizontal dividers—add the base class <code>.table</code> to any
                  <code>&lt;table&gt;</code>.
                </p> -->
      
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Product Name</th>
                      </tr>
                    </thead>
                    <tbody  >
                      <tr *ngFor="let item of products">
                        <td>{{ item.ProductId }}</td>
                        <td>{{ item.ProductName }}</td>
                       
                      </tr>
                    </tbody  >
                   
                  </table>
                </div>
      
              </div>
            </div>
        </div>
    </div>
</div>
