<div class="container-fluid">
    <!-- start page title -->
  <app-pagetitle title="Manage Employee" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <!-- end page title -->
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Add New User</h4> -->
                <div class="card border-0">
                    <div class="card-body">
                        <div
                            class="row align-items-center"
                            
                        >
                            <div class="col align-content-start">
                                <h4 class="one">Manage Employee</h4>
                            </div>
                            <div class="col-auto">
                                <button (click)="addEmployee()"
                                    class="btn btn-outline-success waves-effect pull-right waves-light"
                                >
                                    Add Employee
                                </button>
                            </div>
                        </div>
                    </div>
                
                </div>
                <h4 class="card-title">Basic Example</h4>
            <!-- <p class="card-title-desc">For basic styling—light padding and
              only horizontal dividers—add the base class <code>.table</code> to any
              <code>&lt;table&gt;</code>.
            </p> -->
  
            <div class="table-responsive">
              <table class="table mb-0">
  
                <thead class="thead-light">
                  <tr>
                    <th> #</th>
                    <th>Employee Name</th>
                    <th>Contact Number</th>
                    <th>Date of Joining</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>1/1/1</td>
                    <td>
                        <div class="row">
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-eye"></i>
                                
                            </div>
                            <div class="icon-demo-content" id="solid" >
                                <i class="fas fa-edit editcolor"></i>
                            </div>
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-trash trashcolor"></i>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>2/2/2</td>
                    <td>
                        <div class="row">
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-eye"></i>
                                
                            </div>
                            <div class="icon-demo-content" id="solid" >
                                <i class="fas fa-edit editcolor"></i>
                            </div>
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-trash trashcolor"></i>
                            </div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>3/3/3</td>
                    <td>
                        <div class="row">
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-eye"></i>
                                
                            </div>
                            <div class="icon-demo-content" id="solid" >
                                <i class="fas fa-edit editcolor"></i>
                            </div>
                            <div class="icon-demo-content" id="solid">
                                <i class="fas fa-trash trashcolor"></i>
                            </div>
                        </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            </div>
        </div>
    </div>
</div>
