<div class="container-fluid">
    <!-- start page title -->
  <app-pagetitle title="Manage Employee" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <!-- end page title -->
  	<div class="row">
    	<div class="col-12">
        	<div class="card">
            	<div class="card-body">
                <!-- <h4 class="card-title">Add New User</h4> -->
                	<div class="card border-0">
                   	 	<div class="card-body">
                        	<div class="row align-items-center">
                            	<div class="col align-content-start">
                                	<h4 class="one">Manage Employee</h4>
                            	</div>
								<div class="col-auto">
									<button (click)="addEmployee()"
										class="btn btn-outline-success waves-effect pull-right waves-light"
									>
										Add Employee
									</button>
								</div>
                        	</div>
                   		 </div>
                
                	</div>
                	<!-- <h4 class="card-title">Basic Example</h4> -->
					<div class="table-responsive">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
						  <thead>
							<tr>
							  <th>ID</th>
							  <th>Employee Name</th>
							  <!-- <th>Company Name</th> -->
							  <th>Address</th>
							  <th>Contact</th>
							  <th>Email</th>
							  <th>Action</th>
							</tr>
						  </thead>
						  <tbody  >
							<tr *ngFor="let employee of employees">
							  <td>{{ employee.EmployeeId }}</td>
							  <td>{{ employee.EmployeeName }}</td>
							  <!-- <td>{{ employee.CompanyName }}</td> -->
							  <td>{{ employee.Address }}</td>
							  <td>{{ employee.MobileNo }}</td>
							  <td>{{ employee.EmailId }}</td>
							  <!-- <td> 
								<div class="row">
								  <div class="icon-demo-content" id="solid">
									  <i class="fas fa-eye"></i>
									  
								  </div>
								  <div class="icon-demo-content" id="solid" >
									  <i class="fas fa-edit editcolor"></i>
								  </div>
								  <div class="icon-demo-content" id="solid">
									  <i class="fas fa-trash trashcolor"></i>
								  </div>
								</div>
							  </td> -->
							  <td>
								<a  (click)=editEmployee(employee) class="mr-3 text-primary" placement="top" ngbTooltip="Edit"><i
														  class="mdi mdi-pencil font-size-18"></i></a>
													  <a  (click)="deleteEmployee(employee)" class="text-danger" placement="top" ngbTooltip="Delete"><i
														  class="mdi mdi-trash-can font-size-18"></i></a>
							  </td>
							</tr>
						  </tbody  >
						 
						</table>
					  </div>
  
            
  
            	</div>
        	</div>
    	</div>
	</div>
</div>
