
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">manage-invoice</h4>
                <table id="manage-invoice" border="1" class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rohit</td>
                            <td>r@gmail.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>