
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Master</h4>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">Add Category</h4>
                          <form>
                          <div class="form-group row">
                            <label for="example-text-input" class="col-md-2 col-form-label">Category Name *</label>
                            <div class="col-md-10">
                              <input class="form-control" type="text" name="name" [(ngModel)]="catmodel.name" placeholder="Add Category" id="example-text-input">
                            </div>
                          </div>
                          <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="card border border-primary">
                  <div class="card-body">
                    <h4 class="card-title">Existing Data</h4>
                  <div class="table-responsive">
                    <table class="table mb-0">
                      <thead>
                        <tr>
                       
                          <th>Category Id</th>
                          <th>Category Name</th>
                          <th>Options</th>
                       
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let item of CategoryList"> 
                       
                          <td>{{item.CategoryId}}</td>
                          <td>{{item.CategoryName}}</td>
                          <td><button (click)="editCategory(item)" class="btn btn-primary" type="submit">Edit</button>
                            <button class="btn btn-primary" type="submit">Delete</button></td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  </div>
                  </div>
            </div>
            
        </div>
    </div>
</div>