<div class="container-fluid">
	<!-- start page title -->
	<app-pagetitle
		title="Add Invoice"
		[breadcrumbItems]="breadCrumbItems"
	></app-pagetitle>
	<!-- end page title -->
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Invoice Information</h4>
					<form   #form="ngForm" class="needs-validation">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Invoice Number</label>
									<input
									required
									[class.is-invalid]="InvoiceNo.invalid && InvoiceNo.touched"
										readonly
										style="font-weight: bold;"
										type="text"
										class=" form-control"
										[(ngModel)]="invoice.InvoiceNo"
										name="InvoiceNo"
										
										#InvoiceNo="ngModel"
										placeholder="First name"
									/>
									
								</div>
							</div>
							<div class="form-group col-md-6">
								<label>Date</label>
								<div class="input-group clockpicker">
									<input
										[(ngModel)]="invoice.Date"
										name="Date"
										#Date="ngModel"
										[class.is-invalid]="Date.invalid && Date.touched"
										type="date"
										class=" form-control"
										placeholder="yyyy-mm-dd"
										required
									/>
								
								</div>
								<div
								*ngIf="Date.invalid && (Date.dirty || Date.touched)"
								
							>
								<small class="text-danger" *ngIf="Date.errors.required">Date is required.</small>
								
							</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Contact Number</label>
									<input
										type="text"
										[(ngModel)]="invoice.Contact"
										name="Contact"
										class="form-control"
										placeholder="Contact Number"
										#Contact="ngModel"
										[class.is-invalid]="Contact.invalid && Contact.touched"
										required
										pattern="^[2-9]{1}[0-9]{9}$"
									/>
									<div
										*ngIf="Contact.invalid && (Contact.dirty || Contact.touched)"
										
									>
										<small class="text-danger" *ngIf="Contact.errors.required">Contact Number is required.</small>
										<small class="text-danger"  *ngIf="Contact.errors.pattern">
											Contact Number must be valid
										</small>
										
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Customer Name</label>
									<input
										type="text"
										[(ngModel)]="invoice.CustomerName"
										name="CustomerName"
										class="form-control"
										placeholder="Name"
										pattern="[a-zA-Z][a-zA-Z ]{2,}"
										required
										#CustomerName="ngModel"
										[class.is-invalid]="CustomerName.invalid && CustomerName.touched"
									/>
									<div
										*ngIf="CustomerName.invalid && (CustomerName.dirty || CustomerName.touched)"
										
									>
										<small class="text-danger" *ngIf="CustomerName.errors.required">Customer name is required.</small>
										<small class="text-danger"  *ngIf="CustomerName.errors.pattern">
											Customer name must be a valid name
										</small>
										
									</div>
									
								</div>
							</div>
							<!-- 
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" [(ngModel)]="invoice.InvoiceNo" class="form-control" placeholder="Address">
                                </div>
                            </div> -->
						</div>
					</form>
					<div class="card border border-primary text-dark mb-4 mt-3">
						<div class="card-body">
							<div   class="text-right mb-3">
								<label *ngIf = "isShow" class="mr-5"> InStock : {{stockQuantity}} </label>
								<label *ngIf = "isShow" class="mr-5">Purchase Price:  {{purchaseprice}} </label>
								<label *ngIf = "isShow" class="mr-5">MRP : {{MRP}}</label>
								<button (click)="addItem()" class="btn btn-primary d-inline">
									Add More Item
								</button>
							</div>
							<table class="mb-0 table table-bordered">
								<thead>
									<tr>
										<th style="width: 30%" scope="col">Item Name</th>
										<th scope="col">Quantity</th>
										<th scope="col">Unit Price</th>
										<th scope="col">Price</th>
										<!-- <th scope="col">Discount</th> -->
										<th scope="col">GST</th>
										<th scope="col">Action</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let obj of dataarray; let i = index">
										<td>
											<ng-select
												required
												[(ngModel)]="obj.ProductId"
												name="ProductId"
												(change)="getProductById(obj)"
											>
												<ng-option
													[value]="item.ProductId"
													*ngFor="let item of AllProductList"
													>{{ item.ProductName }}</ng-option
												>
											</ng-select>
										</td>
										<td>
											<input
												[(ngModel)]="obj.Quantity"
												(change)="calculate(obj)"
												min="1"
												#Quantity="ngModel"
										[class.is-invalid]="Quantity.invalid && Quantity.touched"
										required
										pattern="^[0-9]+$"
												name="Quantity"
												class="form-control form-control-md"
												type="text"
												placeholder="Quantity"
											/>
										</td>
										<td>
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">&#8377;</div>
												</div>
												<input
													type="text"
													class="form-control"
													id="inlineFormInputGroup"
													[(ngModel)]="obj.SalePrice"
													min="0"
													readonly
													name="SalePrice"
													placeholder="Unit Price"
												/>
											</div>
											<!-- <input [(ngModel)]="obj.SalePrice" min=0  disabled name="SalePrice" class="form-control form-control-md" type="tnumberext"
                                                placeholder="Unit Price"> -->
										</td>
										<td>
											<div class="input-group mb-2">
												<div class="input-group-prepend">
													<div class="input-group-text">&#8377;</div>
												</div>
												<input
												#Amount="ngModel"
										[class.is-invalid]="Amount.invalid && Amount.touched"
										required
										pattern="^[0-9]+$"
													type="text"
													class="form-control"
													id="inlineFormInputGroup"
													[(ngModel)]="obj.Amount"
													min="0"
													name="Amount"
													type="number"
													placeholder="Price"
												/>
											</div>
										</td>
										<!-- <td><input class="form-control form-control-sm" type="text"
                                                placeholder="Discount"></td> -->
										<td>
											<div class="input-group mb-2">
												<input
													type="text"
													class=" form-control"
													id="inlineFormInputGroup"
													[(ngModel)]="obj.GST"
													readonly
													name="GST"
													min="0"
												/>
												<div class="input-group-prepend">
													<div class="input-group-text">%</div>
												</div>
											</div>
										</td>
										<td>
											<a
												*ngIf="i != 0"
												class="text-danger"
												(click)="removeItem(i)"
												placement="top"
												ngbTooltip="Delete"
												><i class="mdi mdi-trash-can font-size-18"></i
											></a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label class="">Payment Mode</label>
							<ng-select 
							required
							 	[(ngModel)]="invoice.PaymentMode"
							name="PaymentMode">
								<ng-option [value]="item.name" *ngFor="let item of paymentMode">{{
									item.name
								}}</ng-option>
							</ng-select>
							
						</div>
						<div class="col-md-3">
							<label class="">Amount Paid</label>
							<input
								[(ngModel)]="invoice.AmountPaid"
								name="AmountPaid"
								(change)="getbal()"
								class="form-control"
								type="text"
								placeholder="Amount Paid"
								#AmountPaid="ngModel"
										[class.is-invalid]="AmountPaid.invalid && AmountPaid.touched"
										required
										pattern="^[0-9]+$"
							/>
							<div
										*ngIf="CustomerName.invalid && (AmountPaid.dirty || AmountPaid.touched)"
										
									>
										<small class="text-danger" *ngIf="AmountPaid.errors.required">Amount paid is required.</small>
										<small class="text-danger"  *ngIf="AmountPaid.errors.pattern">
											Paid amount must be in digits
										</small>
										
									</div>
							<label *ngIf="showbalance" class="text-danger mt-2">Balance</label>
							<input 
								[(ngModel)]="invoice.Balance"
								name="Balance"
								*ngIf="showbalance"
								class="border border-danger form-control"
								type="text"
								placeholder="Balance"
							/>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-4 ">
							<div class="d-inline-block">
								<h5>Sub-Total</h5>
								<h6 class="d-inline">Add GST</h6>
								<h4>Total Amount</h4>
							</div>

							<div class="ml-5 d-inline-block text-right">
								<h5 class="text-primary">&#8377; {{ invoice.SubTotal }}</h5>
								<h6 class="d-inline text-danger">&#8377; {{ invoice.GST }}</h6>
								<h4 class="text-success">
									&#8377; {{ invoice.TotalAmount  }}
								</h4>
							</div>
							<div class="text-right">
								&nbsp;<button
								(click)="saveInvoice($event)"
									class="btn btn-primary d-inline"
								>
									Update
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
