<div class="container-fluid">
	<form #form="ngForm" (submit)="onSubmit(form)" class="needs-validation">
		<app-pagetitle title="Add Product" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Product Details</h4>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<input [(ngModel)]="productservice.formData.ProductId"  name ="ProductId"
									#ProductId="ngModel" type="text" class="form-control" placeholder="Full name" />
									<label>Product Name</label>
									<input [(ngModel)]="productservice.formData.ProductName"  name ="ProductName"
									#ProductName="ngModel" type="text" class="form-control" placeholder="Full name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Item Code</label>
									<input [(ngModel)]="productservice.formData.ItemCode"  name ="ItemCode"
									#ItemCode="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Print Name</label>
									<input [(ngModel)]="productservice.formData.PrintName"  name ="PrintName"
									#PrintName="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<!-- <h5 class="font-size-14 mb-3">Brand</h5> -->
								<div class="form-group">
									<label>Brand</label>
									<ng-select [(ngModel)]="productservice.formData.Brand"  name ="Brand"
									#Brand="ngModel" >
										<ng-option  [value]="item.BrandId" *ngFor="let item of AllBrands">{{
											item.BrandName
										}}</ng-option>
									</ng-select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Category</label>
									<ng-select [(ngModel)]="productservice.formData.Category"  name ="Category"
									#Category="ngModel" >
										<ng-option  [value]="item.CategoryId" *ngFor="let item of AllCategory">{{
											item.CategoryName
										}}</ng-option>
									</ng-select>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label >Opening Stock</label>
									<input [(ngModel)]="productservice.formData.StockQTY"  name ="StockQTY"
									#StockQTY="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
									<input [(ngModel)]="productservice.formData.ProductImage"  name ="ProductImage"
									#ProductImage="ngModel" type="hidden" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Image Upload</h4>
						<form class="needs-validation">
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<input type="file"  (change)="onFileChanged($event)">
									</div>
									
								</div>


							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">Price Details</h4>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Purchase Price</label>
									<input [(ngModel)]="productservice.formData.PurchasePrice"  name ="PurchasePrice"
									#PurchasePrice="ngModel" type="text" class="form-control" placeholder="Full name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Sale Price</label>
									<input [(ngModel)]="productservice.formData.SalePrice"  name ="SalePrice"
									#SalePrice="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>MRP</label>
									<input [(ngModel)]="productservice.formData.MRP"  name ="MRP"
									#MRP="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>


						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Discount</label>
									<input [(ngModel)]="productservice.formData.Discount"  name ="Discount"
									#Discount="ngModel" type="text" class="form-control" placeholder="Full name" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>GST</label>
									<input [(ngModel)]="productservice.formData.GST"  name ="GST"
									#GST="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>LowLevelLimit</label>
									<input [(ngModel)]="productservice.formData.LowLevelLimit"  name ="LowLevelLimit"
									#LowLevelLimit="ngModel" type="text" class="form-control" placeholder="Enter Email Id" />
								</div>
							</div>


						</div>

					</div>
				</div>
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</div>
	</form>
</div>