<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group row">
  
        <input class="form-control" [(ngModel)]="brandservice.formData.BrandId"  name ="BrandId"
        #BrandId="ngModel" type="hidden">
    
      <label for="example-text-input" class="col-md-2 col-form-label">Brand Name *</label>
      <div class="col-md-10">
        <input class="form-control" type="text" #BrandName="ngModel" [(ngModel)]="brandservice.formData.BrandName"name="BrandName"  placeholder="Add Brand" id="example-text-input">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>