<div class="container-fluid">
	<app-pagetitle
		title="Customers (All The online Customers will be displayed here"
		[breadcrumbItems]="breadCrumbItems"
	></app-pagetitle>

	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<div>
						<!--  -->
						<a
							href="javascript:void(0);"
							class="btn btn-success mb-2"
							(click)="openModal(content)"
						>
							<i class="mdi mdi-plus mr-2"></i> Add New Stock Adjustments
						</a>
					</div>
					<div class="table-responsive">
						<table
							datatable
							[dtOptions]="dtOptions"
							[dtTrigger]="dtTrigger"
							class="row-border hover"
						>
							<thead class="thead-light">
								<tr>
									<th>Adjustment Date</th>
									<th>Reason</th>
									<th>Type</th>
									<th>Item Name</th>
									<th>Amount</th>
									<th style="width: 120px">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of stockadjustmentsData; let i = index">
									<td>{{ item.Date }}</td>
									<td>{{ item.Reason }}</td>
									<td>{{ item.Type }}</td>
									<td>{{ item.ProductName }}</td>
									<td>{{ item.Amount }}</td>
									<td>
										<a
											href="javascript:void(0);"
											class="mr-3 text-primary"
											v-b-tooltip.hover
											title="Edit"
											(click)="editStockAdjustments(content,item.StockAdjustmentsId)"
										>
											<i class="mdi mdi-pencil font-size-18"></i>
										</a>
										<a
											href="javascript:void(0);"
											class="text-danger"
											v-b-tooltip.hover
											title="Delete"
										>
											<i class="mdi mdi-trash-can font-size-18"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Contacts model  -->
<ng-template #content role="document" let-modal="close">
	<div class="modal-header">
		<h5 class="modal-title">{{modalTitle}}</h5>
		<button
			type="button"
			class="close"
			aria-label="Close"
			(click)="modal('Cross click')"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body p-3">
		<div class="text-left">
			<form (ngSubmit)="saveData()" [formGroup]="stockAdjustmentForm">
				<div class="form-group">
					<label for="name">Date</label>
					<input
						type="text"
						class="form-control"
						id="name"
						placeholder="Enter name"
						formControlName="Date"
					/>
				</div>

				<div class="form-group">
					<label for="email">Adjustment Type</label>
					<div class="mt-4 mt-lg-0 row ml-3">
						<div *ngFor="let item of types" class="form-check mb-3">
							<input 
								class="form-check-input"
								type="radio"
								name="Type"
								formControlName="Type"
								[value]="item"
								id="exampleRadios1"
								checked
							/>
							<label class="form-check-label" for="exampleRadios1">
								{{item}}
							</label>
						</div>
						<!-- <div class="form-check">
							<input
								class="form-check-input"
								type="radio"
								name="Type"
								[value]=0
								formControlName="Type"
								id="exampleRadios2"
								value="Credit"
							/>
							<label class="form-check-label" for="exampleRadios2">
								Credit (+)
							</label>
						</div> -->
					</div>
				</div>

				<div class="form-group">
					<label>Adjustment Reason </label>
					<ng-select formControlName="Reason">
						<ng-option [value]="item.name" *ngFor="let item of reasons"
							>{{ item.name }}
						</ng-option>
					</ng-select>
				</div>
				<div class="form-group">
					<label>Product Name </label>
					<ng-select formControlName="ProductId">
						<ng-option [value]="item.ProductId" *ngFor="let item of productlist"
							>{{ item.ProductName }}
						</ng-option>
					</ng-select>
				</div>

				<div class="form-group">
					<label>Quantity </label>
					<input
						class="form-control"
						placeholder="Enter date"
						formControlName="Quantity"
					/>
				</div>
				<div class="form-group">
					<label>Amount </label>
					<input
						class="form-control"
						placeholder="Enter date"
						formControlName="Amount"
					/>
				</div>
				<div class="form-group">
					<label>Remarks </label>
					<input
						class="form-control"
						placeholder="Enter date"
						formControlName="Remarks"
					/>
				</div>
				<div class="text-right">
					<button type="submit" class="btn btn-success">{{modalButton}}</button>
					<button
						type="button"
						class="btn btn-danger ml-1"
						(click)="modal('close click')"
					>
						Cancel
					</button>
				</div>
			</form>
		</div>
	</div>
</ng-template>
