<div class="container-fluid">
    <app-pagetitle title="Manage Purchase Return" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card border-0">
                <div class="card-body">
                    <div
                        class="row align-items-center"
                        
                    >
                        <div class="col align-content-start">
                            <h4 class="one">Manage Purchase Return</h4>
                        </div>
                        <div class="col-auto">
                            <button (click)="addPurchaseReturn()"
                                class="btn btn-outline-success waves-effect pull-right waves-light"
                            >
                                Add Purchase Return
                            </button>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- <h4 class="card-title">Basic Example</h4> -->
            <!-- <p class="card-title-desc">For basic styling—light padding and
              only horizontal dividers—add the base class <code>.table</code> to any
              <code>&lt;table&gt;</code>.
            </p> -->
  
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="row-border hover">
  
                <thead class="thead-light">
                    <tr>
                        <th>Bill No.</th>
                        <th>Status</th>
                        <th>Supplier Name</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                        <th>Invoice</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of returns;">
                        
                        <td>{{ item.ReturnBillNo }}</td>
                        
                        <td><div
                          class="badge font-size-12"
                          [ngClass]="{
                              'badge-soft-danger':
                                  item.Status === 'Unpaid',
                              'badge-soft-success': item.Status === 'Paid'
                              
                          }"
                      >
                          {{ item.Status }}
                      </div></td>
                        <td class="font-weight-bold">{{ item.Supplier }}</td>
                        <td>{{ item.Date | date:'medium' }}</td>
                        <td><h6>{{ item.TotalAmount }}</h6></td>
                        <td><button class="btn btn-light btn-rounded" routerLink="../print-purchase-return/{{ item.PurchaseReturnId }}">Invoice <i class="mdi mdi-download ml-2"></i></button></td>
                        <td>
                          <a routerLink="../update-purchase-return/{{item.PurchaseReturnId}}"  class="mr-3 text-primary" placement="top" ngbTooltip="Edit"><i
                            class="mdi mdi-pencil font-size-18"></i></a>
                          <a (click)="deleteBill(item)" class="text-danger" placement="top" ngbTooltip="Delete"><i
                            class="mdi mdi-trash-can font-size-18"></i></a>
                          
                        </td>
                      </tr>
                </tbody>
              </table>
            </div>
  
          </div>
        </div>
    </div>
</div>  