<div class="container-fluid">
    <!-- start page title -->
  <app-pagetitle title="Add Employee" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Personal Information</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" class="form-control"
                            placeholder="Full name">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Email Id:</label>
                            <input type="text" class="form-control"
                            placeholder="Enter Email Id">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input type="Date" class="form-control"
                            placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Date Of Joining</label>
                            <input type="Date" class="form-control"
                            placeholder="dd-mm-yyyy">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="font-size-14 mb-3">Gender</h5>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadios1">
                                    Male
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadios" id="inlineRadios2" value="option2">
                                <label class="form-check-label" for="inlineRadios2">
                                    Female
                                </label>
                            </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control"
                            placeholder="Enter mobile no.">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address</label>
                            <input type="text" class="form-control"
                            placeholder="Enter address">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Role</label>
                            <!-- <ng-select [items]="selectValue"
                            bindLabel='name'></ng-select> -->
                            <ng-select>
                                <ng-option *ngFor="let item of selectValue">{{item.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
            </form>
          </div>
       </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Invoice Information</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Role</label>
                            <!-- <ng-select [items]="selectValue"
                            bindLabel='name'></ng-select> -->
                            <ng-select>
                                <ng-option *ngFor="let item of selectValue">{{item.name}}</ng-option>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Document No:</label>
                            <input type="text" class="form-control"
                            placeholder="Enter Document Number">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Expiry/Issue Date</label>
                            <input type="Date" class="form-control"
                            placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
            </form>
          </div>
       </div>
    </div>
  </div>   
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Login Credentials</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>User Name</label>
                            <input type="text" class="form-control"
                            placeholder="User name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control"
                            placeholder="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control"
                            placeholder="">
                        </div>
                    </div>
                </div>
            </form>
          </div>
       </div>
    </div>
  </div>   
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Emergency Contact</h4>
            <form class="needs-validation">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Person Name</label>
                            <input type="text" class="form-control"
                            placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact Number</label>
                            <input type="Number" class="form-control"
                            placeholder="ex:1234567890">
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12">
                <div class="text-right">
                    <button class="btn btn-primary d-inline">Save & Print</button>
                    &nbsp;<button class="btn btn-primary d-inline">Save</button>
                </div>
            </div>
          </div>
       </div>
    </div>
    
  </div>    
</div>