<div class="container-fluid">
    <app-pagetitle title="Stock Availability" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
    <div class="row">
        
        <div class="col-lg-12">
            <div class="card">
                
              <div class="card-body">
                <!-- <div class="card border-0">
                    <div class="card-body">
                        <div
                            class="row align-items-center"
                            
                        >
                            <div class="col align-content-start">
                                <h4 class="one">Manage Invoice</h4>
                            </div>
                            <div class="col-auto">
                                <button (click)="addInvoice()"
                                    class="btn btn-outline-success waves-effect pull-right waves-light"
                                >
                                    Add New Invoice
                                </button>
                            </div>
                        </div>
                    </div>
                
                </div> -->
                <div class="row">
                    <div class="col-md-3">
                        <select class="custom-select">
                            <option selected>Select Category</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-md-3">
                        <select class="custom-select">
                            <option selected>Select Brand</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-md-3">
                        <select class="custom-select">
                            <option selected>Select Product Name</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" value="Item Code" id="example-text-input">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                       
                    </div>
                    <div class="col-md-3">
                      
                    </div>
                    <div class="col-md-3">
                      
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success btn-rounded">Search</button>
                    </div>
                </div>
                <h4 class="card-title mt-3">Stock Availability as on Current Date </h4>
                <!-- <p class="card-title-desc">For basic styling—light padding and
                  only horizontal dividers—add the base class <code>.table</code> to any
                  <code>&lt;table&gt;</code>.
                </p> -->
      
                <div class="table-responsive">
                  <table class="table mb-0">
      
                    <thead class="thead-light">
                      <tr>
                        <th>Item Name</th>
                        <th>Item Code</th>
                        <th>Current Stock</th>
                        <th>Valuation</th>
                      
                      </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                  </table>
                </div>
      
              </div>
            </div>
        </div>
    </div>  
</div>