<div class="container-fluid">
    <!-- start page title -->
  <app-pagetitle title="Add User" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
  <!-- end page title -->
  <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New User</h4>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Select Employee:</label>
                    <div class="col-md-4">
                      <select class="form-control">
                        <option>Select</option>
                        <option>Large select</option>
                        <option>Small select</option>
                      </select>
                    </div>
                    <label class="col-md-2 col-form-label">Assign Role:</label>
                    <div class="col-md-4">
                      <select class="form-control">
                        <option>Select</option>
                        <option>Large select</option>
                        <option>Small select</option>
                      </select>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
